/* CSS declarations go here */
.hidden_div{
	display:none;
}
.vote {
	font-size: 145%;
	background-color: #b3c2bf;
	padding: 5px 10px 5px 10px;
	border: 1px;
	border-style: solid;
	margin: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.website {
	font-size: 120%;
	background-color: #c0dfd9;
	padding: 5px 10px 5px 10px;
	border: 1px;
	border-style: solid;
	margin: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.comment {
	font-size: 120%;
	background-color: #c0dfd9;
	padding: 5px 10px 5px 10px;
	border: 1px;
	border-style: solid;
	margin: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.date {
	font-size: 65%
}

.details-link {
	display: inline-block;
	margin:5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;  
	text-decoration: none;
	padding: 5px;
	color: #606060;
	background-color: #e6e6e6;
	width: 15%;
	opacity: 1;
	text-align: center;
}